h1 {
    color: #000000;
    font-family: Noto Sans JP;
    font-size: 22px;
    font-style: bold;
    font-weight: 900;
    height: 32px;
    left: 20px;
    letter-spacing: 0.06em;
    line-height: 32px;
    position: absolute;
    top: 36px;
}