.navbar {
    background: #FFFFFF;
    bottom: 0;
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.04);
    height: 70px;
    position: fixed;
    width: 375px;
  }
  
  .wrapper {
    height: 48px;
    left: 56px;
    position: absolute;
    width: 264px;
  }

  a {
    height: 48px;
    margin-top: 11px;
    position: absolute;
    width: 48px;
  }

  .toHome {
    left: calc(50% - 48px/2 - 107.5px);
  }

  .toComments {
    left: calc(50% - 48px/2 + 0.5px);
  }

  .toConfig {
    left: calc(50% - 48px/2 + 108.5px);
  }
