<footer class="navbar">
    <div class="wrapper">
        <a href="#home" class="toHome">
            <img src="../../../../assets/img/1017_hm_h.svg" class="imgHome" alt="home">
        </a>
        <a href="#comments" class="toComments">
            <img src="../../../../assets/img//1063_cm_h.svg" class="imgComments" alt="comments">
        </a>
        <a href="#config" class="toConfig">
            <img src="../../../../assets/img/1043_ge_h.svg" class="imgConfig" alt="config">
        </a>
    </div>
</footer>